@font-face {
    font-family: 'Digimon Basic';
    font-style: normal;
    font-weight: normal;
    src: local('Digimon Basic'), url('../../Fonts/DigimonBasic.woff') format('woff');
}

h1{
    font-family: 'Digimon Basic';
    font-weight: 200;
    color: #E09082;
}